@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@font-face 
{
  font-family: 'Beth Ellen';

  src: url(/fonts/BethEllen-Regular.ttf?ffa906155b8b3ef85c3d01be72d4b612) format('truetype');

  font-weight: 400;

  font-style: normal;
}

.beth-ellen-regular
   {
  font-family: 'Beth Ellen', cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova', sans-serif;
}

.header {
  background-color: white;
  padding: 20px 0; 
  border-bottom: 1px solid #eee; 
}

.container {
  display: flex;
    max-width: 1200px;
    margin: auto auto;
    padding: 0 20px;
    align-items: center;
    justify-content: flex-end;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px; 
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 10px 0; 
  font-size: 14px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 600; 
  text-transform: uppercase;
}

.nav-link:hover {
  color: #000;
}

.nav-logo {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 700; 
  text-align: center;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-logo .logo-subtext {
  font-size: 12px;
  color: #333; 
  margin-top: -5px; 
  font-family: 'Proxima Nova', sans-serif;
}

.nav-button {
  background-color: #ff4081;
  color: white;
  border-radius: 25px; 
  font-weight: bold;
  padding: 10px 25px; 
  text-transform: uppercase;
  transition: background-color 0.3s; 
}

.nav-button:hover {
  background-color: #ff80ab;
}

.nav-user {
  padding: 5px 10px;
}
footer 
    {
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.staff_table, .Service_table, .appointment_table {
  margin: 20px auto; 
  width: 50%;
  border-collapse: collapse;
}

.staff_table th, .staff_table td, .Service_table th, .Service_table td, .appointment_table th, .appointment_table td  {
  
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.staff_table th, .Service_table th, .appointment_table th {
  background-color: #f2f2f2;
}

.staff_table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.Service_table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.staff_table tr:hover {
  background-color: #ddd;
}

.Service_table tr:hover {
  background-color: #ddd;
}
.appointment_table tr:hover {
  background-color: #ddd;
}

.form-group {
  text-align: center;
  margin-bottom: 15px;
}

.form-group label {
  text-align: center;
  display: block;
  font-weight: bold;
}

.form-control {
  width: 20%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  background-color: palevioletred;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: pink;
}
.title{
  text-align: center;
  font-weight:bold;
}
    .calendar {
      width: 60%; 
      margin: 0 auto; 
      text-align: center;
      background-color: #fff; 
      box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
      padding: 20px;
      border-radius: 8px;
  }

  .background-image {
    background-image: url('https://www.thelist.com/img/gallery/the-biggest-mistakes-everyone-makes-with-gel-nails/l-intro-1670359663.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    height: 100vh; /* Ensuring it covers the full viewport height */
    width: 100vw;   /* Cover the full viewport width */
    position: absolute; /* Optional based on your layout needs */
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -1; /* Makes it a background layer if other content must be over it */
}
