@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Beth Ellen';
  src: url(/fonts/BethEllen-Regular.ttf?ffa906155b8b3ef85c3d01be72d4b612) format('truetype');
  font-weight: 400;
  font-style: normal;
}

.beth-ellen-regular {
  font-family: 'Beth Ellen', cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Lora', serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

header.transparent {
  background-color: transparent;
  box-shadow: none;
}

header.solid {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navigation and Logo Styling */
.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  align-items: center;
  justify-content: flex-end;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
  transition: color 0.3s;
}

.text-white .nav-link,
.text-white .nav-logo,
.text-white .nav-logo .logo-subtext,
.text-white .nav-user {
  color: white;
}

.text-black .nav-link,
.text-black .nav-logo,
.text-black .nav-logo .logo-subtext,
.text-black .nav-user {
  color: black;
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 10px 0;
  font-size: 14px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #000;
}

.nav-logo {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-logo .logo-subtext {
  font-size: 12px;
  color: #333;
  margin-top: -5px;
  font-family: 'Proxima Nova', sans-serif;
}

/* Button and User Styling */
.nav-button {
  background-color: #ff4081;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #ff80ab;
}

.nav-user {
  padding: 5px 10px;
}
<<<<<<< HEAD

.img-container {
  overflow: hidden;
  height: 100%;
}
=======
>>>>>>> 517fffc184981f86e887179c4ea39294f9ce3c4d

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animation for Fade-In Effect with Slower Duration and Staggered Timing */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0; /* Ensures elements are hidden before animating */
}

/* Custom form width */
.custom-form-width {
  max-width: 70%; /* Adjust this percentage to your desired width */
  width: 100%;
  margin-top: 1rem; /* Add some space above the form */
}

.btn-pink {
  background-color: #ff4081;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-pink:hover {
  background-color: #ff80ab;
}

/* Footer Styling */
footer {
  background-color: #fff; /* white background */
  color: #000; /* black text color */
  padding: 40px; /* Increased padding */
  width: 100%;
  text-align: center;
  margin-top: auto; /* Pushes footer to bottom */
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  width: 30%;
}

.footer-section h3 {
  font-size: 24px; /* Increased font size */
  margin-bottom: 15px; /* Increased margin */
  color: #ff4081;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  font-size: 16px; /* Increased font size */
}

.footer-section form {
  display: flex;
  flex-direction: column;
}

.footer-section form input[type="email"] {
  margin-bottom: 15px; /* Increased margin */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Increased font size */
}

.footer-section form button[type="submit"] {
  background-color: #ff4081;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px; /* Increased font size */
}

.footer-section form button[type="submit"]:hover {
  background-color: #ff80ab;
}

/* Additional Styles for Tables and Forms */
.staff_table, .Service_table, .appointment_table {
  margin: 20px auto; 
  width: 50%;
  border-collapse: collapse;
}

.staff_table th, .staff_table td, .Service_table th, .Service_table td, .appointment_table th, .appointment_table td  {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.staff_table th, .Service_table th, .appointment_table th {
  background-color: #f2f2f2;
}

.staff_table tr:nth-child(even), .Service_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.staff_table tr:hover, .Service_table tr:hover, .appointment_table tr:hover {
  background-color: #ddd;
}

.form-group {
  text-align: center;
  margin-bottom: 15px;
}

.form-group label {
  text-align: center;
  display: block;
  font-weight: bold;
}

.form-control {
  width: 20%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  background-color: palevioletred;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: pink;
}

.title {
  text-align: center;
<<<<<<< HEAD
  font-weight: bold;
}

.calendar {
  width: 60%; 
  margin: 0 auto; 
  text-align: center;
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  padding: 20px;
  border-radius: 8px;
}

.background-image {
  background-image: url('https://www.thelist.com/img/gallery/the-biggest-mistakes-everyone-makes-with-gel-nails/l-intro-1670359663.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh; /* Ensuring it covers the full viewport height */
  width: 100vw;   /* Cover the full viewport width */
  position: absolute; /* Optional based on your layout needs */
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: -1; /* Makes it a background layer if other content must be over it */
=======
  font-weight:bold;
}
    .calendar {
      width: 60%; 
      margin: 0 auto; 
      text-align: center;
      background-color: #fff; 
      box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
      padding: 20px;
      border-radius: 8px;
  }

  .background-image {
    background-image: url('https://www.thelist.com/img/gallery/the-biggest-mistakes-everyone-makes-with-gel-nails/l-intro-1670359663.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    height: 100vh; /* Ensuring it covers the full viewport height */
    width: 100vw;   /* Cover the full viewport width */
    position: absolute; /* Optional based on your layout needs */
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -1; /* Makes it a background layer if other content must be over it */
}

@media (max-width: 768px) {
  /* font family */
  @font-face {
    font-family: 'Beth Ellen';
    src: url(/fonts/BethEllen-Regular.ttf?ffa906155b8b3ef85c3d01be72d4b612) format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  .beth-ellen-regular {
    font-family: 'Beth Ellen', cursive;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  body {
    font-family: 'Proxima Nova', sans-serif;
  }

  .header {
    padding: 10px 0; /* Adjust padding as needed */
  }

  .container {
    flex-direction: column;
    align-items: stretch; /* Stretch items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 0; /* Reset padding */
  }

  .navigation {
    justify-content: center; /* Center navigation items */
    gap: 20px; /* Adjust gap between items as needed */
  }

  .nav-link {
    padding: 5px 0; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size as needed */
  }

  .nav-logo {
    margin: 0;
    padding: 0;
    font-size: 20px; /* Adjust font size as needed */
  }

  .nav-logo .logo-subtext {
    font-size: 10px; /* Adjust font size as needed */
    margin-top: -3px; /* Adjust margin as needed */
  }

  .nav-button {
    padding: 8px 20px; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size as needed */
  }

  .nav-user {
    padding: 3px 8px; /* Adjust padding as needed */
  }

  .staff_table,
  .Service_table,
  .appointment_table {
    width: 100%; /* Make tables full width */
  }

  .form-control {
    width: 100%; /* Make form controls full width */
    margin-bottom: 10px; /* Adjust margin as needed */
  }

  .btn {
    padding: 8px 16px; /* Adjust padding as needed */
    font-size: 14px; /* Adjust font size as needed */
  }

  .title {
    font-size: 24px; /* Adjust font size as needed */
  }

  .calendar {
    width: 100%; /* Make calendar full width */
  }

  .background-image {
    height: 50vh; /* Adjust height as needed */
  }
>>>>>>> 517fffc184981f86e887179c4ea39294f9ce3c4d
}
